<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>GOT-Book</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>  
        <link href = "css/styles.css" rel = "stylesheet"/>
    </head>
    <body>
        <div class="centered">
            <h4>GOT-Book</h4>
            <ol>
                <li><a href="/index">Go Home</a></li>                 
            </ol>        
            <h3>Book detail view</h3>
            <span><strong> Url:</strong></span><span th:text="${book.url}"></span><br></br>
           <span> <strong> Name:</strong></span><span th:text="${book.name}"></span><br></br>
            <span><strong> isbn:</strong></span><span th:text="${book.isbn}"></span><br></br>
            <span><strong> authors:</strong></span><span th:text="${book.authors}"></span><br></br>
            <span><strong> numberOfPages:</strong></span><span th:text="${book.numberOfPages}"></span><br></br>
            <span><strong> publisher:</strong></span><span th:text="${book.publisher}"></span><br></br>
            <span><strong> country:</strong></span><span th:text="${book.country}"></span><br></br>
            <span><strong> mediaType:</strong></span><span th:text="${book.mediaType}"></span><br></br>
            <span><strong> released:</strong></span><span th:text="${book.released}"></span><br></br>
            <span><strong> characters:</strong></span><span th:text="${book.characters}"></span><br></br>
            <span><strong> povCharacters:</strong></span><span th:text="${book.povCharacters}"></span><br></br>            
        </div>
    </body>
</html>