<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>GOT-Books</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>  
        <link href = "css/styles.css" rel = "stylesheet"/>
    </head>
    <body>
        <h4>GOT-Books</h4>
        <ol>
            <li><a href="/index">Go Home</a></li>           
        </ol>        
        <h3>Books Table(By Default,the API behind this page fetches page 1 and page size of 50 results from the Ice And Fire API for faster rendering in this project)</h3>
        <div style="overflow-y: auto">
            <table id="booksTable" style="overflow-y: auto">
                <thead>
                    <tr>
                        <th>Url</th>
                        <th>Name</th>
                        <th>Isbn</th>
                        <th>Publisher</th>                        
                        <th>Action</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book, rowStat: ${books}"
                        th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
                        <td th:text="${book.url}"></td>
                        <td th:text="${book.name}"></td>
                        <td th:text="${book.isbn}"></td>                       
                        <td th:text="${book.publisher}"></td>
                        <td><a target="_blank" th:href="@{/books/bk?q={url}(url=${book.url})}">View More</a></td>                        
                    </tr>
                </tbody>
            </table>
        </div>        
    </body>
</html>