<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>GOT-Character</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>  
        <link href = "css/styles.css" rel = "stylesheet"/>
    </head>
    <body>
        <div class="centered">
            <h4>GOT-Character</h4>
            <ol>
                <li><a href="/index">Go Home</a></li>           
            </ol>        
            <h3>Character detail view</h3>
            <span><strong> Url:</strong></span><span th:text="${character.url}"></span><br></br>
           <span> <strong> Name:</strong></span><span th:text="${character.name}"></span><br></br>
            <span><strong> Gender:</strong></span><span th:text="${character.gender}"></span><br></br>
            <span><strong> culture:</strong></span><span th:text="${character.culture}"></span><br></br>
            <span><strong> born:</strong></span><span th:text="${character.born}"></span><br></br>
            <span><strong> died:</strong></span><span th:text="${character.died}"></span><br></br>
            <span><strong> titles:</strong></span><span th:text="${character.titles}"></span><br></br>
            <span><strong> aliases:</strong></span><span th:text="${character.aliases}"></span><br></br>
            <span><strong> father:</strong></span><span th:text="${character.father}"></span><br></br>
            <span><strong> mother:</strong></span><span th:text="${character.mother}"></span><br></br>
            <span><strong> spouse:</strong></span><span th:text="${character.spouse}"></span><br></br>
            <span><strong> allegiances:</strong></span><span th:text="${character.allegiances}"></span><br></br>
            <span><strong> books:</strong></span><span th:text="${character.books}"></span><br></br>
            <span><strong> povBooks:</strong></span><span th:text="${character.povBooks}"></span><br></br>
            <span><strong> tvSeries:</strong></span><span th:text="${character.tvSeries}"></span><br></br>
            <span><strong> playedBy:</strong></span><span th:text="${character.playedBy}"></span><br></br>
        </div>
    </body>
</html>