<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>GOT-Characters</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>  
        <link href = "css/styles.css" rel = "stylesheet"/>
    </head>
    <body>
        <h4>GOT-Characters</h4>
        <ol>
            <li><a href="/index">Go Home</a></li>           
        </ol>        
        <h3>Characters Table(By Default,the API behind this page fetches page 1 and page size of 50 results from the Ice And Fire API for faster rendering in this project)</h3>
        <div style="overflow-y: auto">
            <table id="charactersTable" style="overflow-y: auto">
                <thead>
                    <tr>
                        <th>Url</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Culture</th>
                        <th>Born</th> 
                        <th>Action</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="character, rowStat: ${characters}"
                        th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
                        <td th:text="${character.url}"></td>
                        <td th:text="${character.name}"></td>
                        <td th:text="${character.gender}"></td>
                        <td th:text="${character.culture}"></td>
                        <td th:text="${character.born}"></td>
                        <td><a target="_blank" th:href="@{/characters/ch?q={url}(url=${character.url})}">View More</a></td>                        
                    </tr>
                </tbody>
            </table>
        </div>        
    </body>
</html>