<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>GOT-Houses</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>  
        <link href = "css/styles.css" rel = "stylesheet"/>
    </head>
    <body>
        <div class="centered">
            <h4>GOT-Houses</h4>
            <ol>
                <li><a href="/index">Go Home</a></li>           
            </ol>        
            <h3>House detail view</h3>
            <span><strong> Url:</strong></span><span th:text="${house.url}"></span><br></br>
           <span> <strong> Name:</strong></span><span th:text="${house.name}"></span><br></br>
            <span><strong> Region:</strong></span><span th:text="${house.region}"></span><br></br>
            <span><strong> coatOfArms:</strong></span><span th:text="${house.coatOfArms}"></span><br></br>
            <span><strong> words:</strong></span><span th:text="${house.words}"></span><br></br>
            <span><strong> titles:</strong></span><span th:text="${house.titles}"></span><br></br>
            <span><strong> seats:</strong></span><span th:text="${house.seats}"></span><br></br>
            <span><strong> currentLord:</strong></span><span th:text="${house.currentLord}"></span><br></br>
            <span><strong> heir:</strong></span><span th:text="${house.heir}"></span><br></br>
            <span><strong> overlord:</strong></span><span th:text="${house.overlord}"></span><br></br>
            <span><strong> founded:</strong></span><span th:text="${house.founded}"></span><br></br>
            <span><strong> founder:</strong></span><span th:text="${house.founder}"></span><br></br>
            <span><strong> diedOut</strong></span><span th:text="${house.diedOut}"></span><br></br>
            <span><strong> ancestralWeapons:</strong></span><span th:text="${house.ancestralWeapons}"></span><br></br>
            <span><strong> cadetBranches:</strong></span><span th:text="${house.cadetBranches}"></span><br></br>
            <span><strong> swornMembers:</strong></span><span th:text="${house.swornMembers}"></span><br></br>
        </div>
    </body>
</html>