<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>GOT-Houses</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>  
        <link href = "css/styles.css" rel = "stylesheet"/>
    </head>
    <body>
        <h4>GOT-Houses</h4>
        <ol>
            <li><a href="/index">Go Home</a></li>           
        </ol>        
        <h3>Houses Table(By Default,the API behind this page fetches page 1 and page size of 50 results from the Ice And Fire API for faster rendering in this project)</h3>
        <div style="overflow-y: auto">
            <table id="housesTable" style="overflow-y: auto">
                <thead>
                    <tr>
                        <th>Url</th>
                        <th>Name</th>
                        <th>Region</th>
                        <th>Coat Of Arms</th>
                        <th>Words</th> 
                        <th>Action</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="house, rowStat: ${houses}"
                        th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
                        <td th:text="${house.url}"></td>
                        <td th:text="${house.name}"></td>
                        <td th:text="${house.region}"></td>
                        <td th:text="${house.coatOfArms}"></td>
                        <td th:text="${house.words}"></td>
                        <td><a target="_blank" th:href="@{/houses/hse?q={url}(url=${house.url})}">View More</a></td>                        
                    </tr>
                </tbody>
            </table>
        </div>        
    </body>
</html>